body {
  margin: 0;
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

.navpanel {
  height: 150px;
  background-image: linear-gradient(
      to bottom,
      rgba(43, 74, 97, 0.87),
      rgba(43, 74, 97, 0.87)
    ),
    url("img/Rectangle\ 104.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  border-bottom: 3px solid #ffffff;
  display: flex;
  align-items: center;
}

.logo {
  width: 186px;
  height: 72px;
  margin: 0 168px 0 204px;
}

.containernavlink {
  display: flex;
  justify-content: center;
  column-gap: 38px;
}

.nav-link {
  color: #fff;
  font-size: 20px;
  font-family: Inter;
  font-weight: 300;
  text-decoration: none;
}

.nav-link:hover,
.nav-link:focus {
  color: #94cfff;
  cursor: pointer;
}

.navpanel-btn {
  width: 141px;
  height: 42px;
  border-radius: 35px 0px;
  border: 2px solid #26c7ea;
  background: #0b0e66;
  color: #26c6ea;
  font-size: 20px;
  font-family: HeadlandOne;
  margin: 0 87px 0 250px;
}

.switch-container {
  display: flex;
  gap: 15px;
  align-items: center;
}

.switcher-btn {
  font-size: 16px;
  line-height: 20px;
  color: #fff;
  font-family: Hammersmith One;
}

.card1 {
  background: url("img/Group\ 48\ 1.jpg") lightgray 50% / cover no-repeat;
  height: 740px;
}

.text {
  color: #fff;
  font-size: 20px;
  font-family: "Inter";
}

.card1-text {
  width: 376px;
  height: 381px;
  padding: 180px 0 0 204px;
  display: inline-block;
}

.card1-img {
  width: 152px;
  height: 40px;
  padding-left: 55px;
}

.card1-btn {
  width: 260px;
  height: 80px;
  background: #0b0e66;
  border: 3px solid #26c7ea;
  border-radius: 45px 0px;
  font-family: "Inter";
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
  text-align: center;
  color: #26c7ea;
  margin-top: 42px;
}

.medialist {
  position: absolute;
  margin-left: 1056px;
}

.limediainsta {
  background: url("img/Vector.png");
  width: 30px;
  height: 30px;
}

.mediainsta {
  padding: 11px 15px;
}

.limediatwitter {
  width: 34px;
  height: 30px;
  background: url("img/Vector\ \(1\).png");
  margin: 24px 0;
}

.limediayoutube {
  width: 50px;
  height: 30px;
  background: url("img/Vector\ \(2\).png");
}

.card1-bottom {
  margin-top: 254px;
  text-align: center;

  color: #0a3853;
  font-size: 36px;
  font-family: Inter;
}

.namecard {
  color: #000;
  text-align: center;
  font-size: 24px;
  font-family: Inter;
  font-weight: 400;
  margin: 16px 0 0;
}

.decoration {
  margin: 0 auto;
  margin-top: 8px;
}

.card2 {
  height: 741px;
  background: url("img/Rectangle\ 10.png") lightgray 50% / cover no-repeat;
  margin-top: 350px;
}

.btn-trailer {
  font-family: "Inter";
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
  color: #26c7ea;
  box-sizing: border-box;
  width: 260px;
  height: 80px;
  background: #0b0e66;
  border: 3px solid #26c7ea;
  border-radius: 45px 0px;
  margin: 330px 630px;
  cursor: pointer;
}
